.caption{
  color: #000000;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  &--middle{
    font-size: 48px;
    line-height: 53.17px;
  }
  &--small{
    font-size: 36px;
  }
  &--support{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 27.5px;
    text-align: left;
    &-small{
      font-size: 14px;
    }
    &-darkblue{
      color: #092C4C;
    }
  }
}
.description{
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  &--middle-gray{
    color: #526477;
    font-size: 16.93px;
    font-weight: 600;
    line-height: 27.94px;
  }
  &--middle{
    font-size: 18px;
  }
  &--support{
    color: #526477;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
  }
}

.our-program {
  background-color: transparent;
  border: none;
  .p-accordion-header-text{
    color: #526477;
    font-family: "Gilroy",sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 53.17px;
    text-align: left;
  }
  .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    order: 1;
    margin-left: 20px;
  }
  .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link .p-accordion-header-text{
    color: #000000;
  }
  .p-accordion-header .p-accordion-header-link{
      background-color: transparent !important;
      border: none !important;
  }
  .p-accordion-content{
    background-color: transparent;
    border: none;
  }
}

.bg-out-container{
  background-image: url('/public/layout/images/demo-version-img-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
  &__img{
    width: 50%;
    filter: drop-shadow(16px -16px 1px #00000033);

  }

}

.form{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-right: 150px;
  .p-inputtext{
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1.5px solid #092C4C;
    padding-left: 0;
    margin-bottom: 20px;

    color: #7E92A2;
    font-family: "Gilroy",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    &::placeholder{
      color: #7E92A2;
      font-family: "Gilroy",sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
    }
    &:hover, &:focus{
      border-color: #092C4C;
      box-shadow: none;
    }
  }
  &--tariff{
    padding-right: 0;
    margin-bottom: 0;
    .p-component{
      width: 100%;
    }
  }
}
.star-group{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  & .star{
    color: #FFE500;
    font-size: 30px;
    &:after{
      content: '★';
    }
  }
}
.main-dialog{
  .p-dialog-header{
    padding: 20px 30px 0 30px;
  }
  .p-dialog-header .p-dialog-title{
    color: #000000;
    font-family: "Gilroy", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
  }
  .p-dialog-content{
    padding: 0 30px 30px 30px;
  }
}
