.btn{
  border: none;
  background-color: inherit;
  padding: 10px 20px;

  color: black;
  &:hover{
    background-color: inherit;
  }
  &-primary{
    padding: 10px 15px;
    background-color: #1479FF;
    color: #ffffff;

    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 600;
    border-radius: 42px;
    &:hover{
      background-color: #699dfa;
    }
  }
  &-link{
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 58px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #D6E1E6;
    &--blue{
      background-color:#A8D3E4;
    }
    &--gray{
      background-color: #D6E1E6;
    }
    &:hover{
      background-color: white !important;
      border: 1px solid #D6E1E6 !important;
    }
    &:hover &__caption{
      color: #000000;
    }
    &__caption{
      font-size: 18.87px;
      font-weight: 700;
      line-height: 23.59px;
      text-align: left;
      margin-right: 100px;
    }
  }
  &--tab-menu{
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 27.5px;
    text-align: center;
    padding: 12px 25px;
    border-radius: 20px;
    color: #526477;
    &:hover{
      background-color: #9ec0fd !important;
      color: #526477;
    }
  }
  &--buy{
    color: #ffffff;
    background-color: #1479FF !important;
  }
}