.footer{
    background-color: #000000;
    padding-top: 95px;
    padding-bottom: 20px;
    &__logo-title{
        color: #ffffff;
        font-size: 36px;
        font-weight: 900;
        line-height: 35px;
        text-align: left;
        margin-left: 10px;
    }
    &__logo-description{
        color: #ffffff;
        font-size: 16.93px;
        font-weight: 600;
        line-height: 27.94px;
        text-align: left;
    }
}


@media screen and (max-width: 576px) {
    .footer{
        padding: 25px 15px;
    }
}

@media screen and (max-width: 414px) {
    .footer{
        &__logo-img{
            width: 32px;
        }
        &__logo-title{
            font-size: 18px;
        }
        &__logo-description{
            font-size: 12px;
            line-height: 27px;
        }
    }
}