.tab-menu-price{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px;
  .p-tabview {
    .p-tabview-nav{
      background: transparent;
      padding-bottom: 30px;
    }
    .p-tabview-panels{
      background: transparent;
      padding-left: 0;
    }
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background: transparent;
    margin-right: 30px;
    border-radius: 20px;
    border: none;
    padding: 15px 25px;

    font-family: "Gilroy",sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 27.5px;
    text-align: center;
  }
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background-color: #1479FF;
    color: white;
  }
  &__new-price{
    color: #092C4C;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
  }
  &__old-price{
    color: #7E92A2;
    font-size: 30.32px;
    font-weight: 700;
    line-height: 33.47px;
    text-align: center;
    text-decoration: revert;
  }
  &__description{
    color: #526477;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    &--service{
      color: #092C4C;
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
    }
  }
}

.tabview-custom{
  display: flex;
  .p-tabview-content{
    margin-right: 50px;
  }
  .p-tabview-panels{
    background-color: transparent;
  }
  .p-tabview-nav{
    flex-direction: column;
    margin-right: 50px;
    background-color: transparent;
    border: none;
  }
  .p-tabview-nav li .p-tabview-nav-link{
    background-color: transparent;
    padding: 20px 100px 20px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    box-shadow: 0 4px 9.5px 0 #46464614;
  }
  &__name{
    color: #000000;
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.94px;
    text-align: left;
    white-space: nowrap;
  }
  &__prof{
    color: #526477;
    font-size: 16.93px;
    font-weight: 600;
    line-height: 27.94px;
    text-align: left;
  }
  .p-avatar{
    width: 4rem;
    height: 4rem;
    margin-right: 20px;
  }
  &__caption{
    color: #000000;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    margin-bottom: 0;
  }
  &__description{
    font-family: "Gilroy", sans-serif;
    color: #526477;
    font-size: 18px;
    font-weight: 600;
    line-height: 27.94px;
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .tab-menu-price{
    padding: 30px 15px;
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
      font-size: 12px;
      padding: 10px 13px;
      border-radius: 10px;
      margin-right: 20px;
    }
    &__description--service{
      font-size: 14px;
      line-height: 15px;
    }
    &__new-price{
      font-size: 36px;
    }
    &__old-price{
      font-size: 25px;
    }
    &__description{
      font-size: 14px;
      line-height: 20px;
    }
  }
  .tabview-custom{
    flex-direction: column;
    .p-tabview-nav {
      flex-direction: row;

      li .p-tabview-nav-link{
        padding: 8px 20px 8px 10px;

        .p-avatar{
          width: 42px;
          height: 42px;
        }
      }
    }
    &__name{
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 10px;
    }
    &__prof{
      font-size: 8px;
      line-height: 10px;
    }
    &__caption{
      font-size: 14px;
      line-height: 15px;
    }
    &__description{
      font-size: 12px;
      line-height: 20px;
    }
    .p-avatar{
      margin-right: 10px;
    }
  }
  .star-group{
    margin-bottom: 0;
    .star{
      height: 20px;
      transform: scale(0.7);
      &:after{
      }
    }
  }
}